name: checks

on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/workflows/checks.yml'

permissions:
  contents: read
  pull-requests: write
  checks: write

concurrency:
  group: pr-checks-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  format:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Restore packages
        run: dotnet restore

      - name: Format whitespace
        run: |
          dotnet format whitespace --verify-no-changes --report ./whitespace-report.json -v d

      - name: Format style
        run: |
          dotnet format style --verify-no-changes --report ./style-report.json -v d
          
      - name: Upload report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: ./*-report.json
